@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
div.header {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.header * {
  margin: 0;
  color: white;
}

div.header .title {
  padding: 0rem 1rem;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 8px;
}

div.header .description {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  font-style: italic;
}

div.search {
  margin-top: 4rem;
  align-self: center;
  display: flex;
  align-items: center;
}

div.search .search-bar {
  height: 42px;
  font-size: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0rem 1.3rem;
  background-color: rgba(255, 255, 255, 0.653);
}

div.search .search-img {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

div.details-container {
  width: 90%;
  border: 1px solid;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
}

div.details-container div.more-info-header {
  display: flex;
  align-items: center;
}

div.details-container p {
  text-align: center;
  justify-self: start;
}

div.details-container #details {
  display: none;
}

div.details-container #details:checked ~ .details-label div.line1 {
  transform: rotate(-45deg);
}

div.details-container #details:checked ~ .details-label div.line2 {
  transform: rotate(45deg);
}

div.details-container #details:checked #hidden-inf {
  height: 200px;
}

div.details-container .details-label {
  position: relative;
  height: 18px;
  width: 18px;
  align-self: center;
}

div.details-container .details-label div.line {
  height: 1px;
  position: absolute;
  top: 0;
  border: 1px solid black;
  width: 18px;
  background-color: black;
  transition: transform 0.2s ease-in-out;
}

div.details-container .details-label div.line1 {
  transform: rotate(90deg);
}

div.details-container div.hidden-info {
  height: 0;
  width: max-content;
  overflow: hidden;
  background-color: white;
  transition: height 0.3s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background-image: radial-gradient(circle, #8d8b8b, #845f5f);
  background-size: cover;
  height: 100vh;
}
